<% load 'common.rb' %>

<% unless flags[:inline] %>
<html>
<head>
<title>Rod Hilton's Resume</title>
<link href="https://fonts.googleapis.com/css?family=Raleway:400,400i,700,700i" rel="stylesheet">
<style>
  body {
  font: normal normal normal 1em/1.4em "Raleway", sans-serif;
  }
</style>
</head>
<body>

<h1>Rod Hilton</h1>

<u>Software Craftsman and Computer Science Geek</u><br/>
<a href="http://<%= site %>"><%= site %></a>

<% end %>

<h2>SUMMARY</h2>
<ul>
    <% summary.each do |summary_item| %>
        <li><%= summary_item %></li>
    <% end %>
</ul>

<hr/>
<h2>TECHNICAL SKILLS</h2>
<ul>
    <% skill_weights = calculate_skill_weights(experience.jobs, 0.2, 0.1, 10)
     skills_grouped = group_by_category(skill_weights, skills_index, 13)
    %>

    <% skills_grouped.each do |category, skills| %>
    <li><b><%= category %></b>: <%= skills.join(", ") %></li>
    <% end %>
</ul>

<hr/>
<h2>WORK EXPERIENCE</h2>
<ul>
<% job_list = flags[:complete_history] ? experience.jobs : trim_jobs(experience.jobs) %>
<% job_list.each do |job| %>
    <li>
        <b><%= job.title %></b> - <i><%= job.company %><% unless job.note.nil? %> (<%= job.note %>)<% end %></i> - <%= timespan(job.start_time, job.end_time) %><br/>
        <ul>
            <% unless job.technologies.nil? %>
            <li>Utilized <%= job.technologies %></li>
            <% end %>
            <% job.accomplishments.each do |accomplishment| %>
                <li><%= accomplishment %></li>
            <% end %>
        </ul>
    </li>
<% end %>
</ul>

<% if flags[:certifications] %>
<hr/>
<h2>CERTIFICATIONS</h2>
<ul>
    <% certifications.each do |certification| %>
        <li>
            <b><%= certification.title %></b>
            <i>
                <% unless certification.subject.nil? %>
                    - <%= certification.subject %>
                <% end %>
                - <%= certification.time %>
            </i>
        </li>
    <% end %>
</ul>
<% end %>

<hr/>
<h2>EDUCATION</h2>
<ul>
<% education.degrees.each do |degree| %>
    <li>
        <b><%= degree.title %></b> - <%= degree.school %> <i><%= display_schoolyear(degree, flags[:expand_school ]) %></i>
        <% if flags[:expand_school] %>
            <ul>
                <li><%= degree.note %></li>
                  <li>Coursework: <%= degree.coursework %></li>
            </ul>
        <% end %>
    </li>
<% end %>
</ul>

<hr/>
<h2>PUBLICATIONS</h2>


<% pubs = flags[:complete_history] ? publications : trim_by_clout(publications, 7).sort_by {|a| a.year }.reverse %>
<ul>
<% pubs.each do |pub| %>
    <li>"<%= pub.title %>" by <%= pub.author %> <i>(<%= pub.role %>, <%= pub.publisher %>, <%= pub.year %>)</i></li>
<% end %>
</ul>

<% unless flags[:inline] %>
</body>
</html>
<% end %>