<% load 'common.rb' %>
<h2 class="mb-5">Education</h2>
<p><%= education.summary %></p>
<br/>
<% education.degrees.each do |degree| %>
<div class="resume-item d-flex flex-column flex-md-row mb-5">
    <div class="resume-content mr-auto">
        <h3 class="mb-0"><%= degree.title %> <%= display_schoolyear(degree) %></h3>
        <div class="subheading mb-3"><%= degree.school %></div>
        <p><%= degree.note %></p>
    </div>
    <div class="resume-date text-md-right">
        <p><img class="icon" src="img/<%= degree.icon %>"/></p>
    </div>
</div>
<% end %>